@font-face {
  font-family: "Alexandria";
  src: local("Alexandria"),
    url("../public/fonts/Alexandria.ttf") format("truetype");
}
@font-face {
  font-family: "Kufyan";
  src: local("Kufyan"), url("../public/fonts/Kufyan.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #050505;
  font-family: Alexandria;
}

/* *:hover {
  background-color: #7dc1a8;
} */

.App {
  width: 100vw;
  height: 100vh;
  background-color: #7dc1a8;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #c64c53;
}
.nav-ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.nav-li a{
  color: #f6ebd1;
  text-decoration: none;
}
.list{
  width: 30%;
}
.masr-text {
  font-size: 48px;
  font-weight: 600;
  font-family: kufyan;
  margin: 0;
  padding-right: 50px;
  color: #f6ebd1;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7dc1a8;
}

.st0 {
  fill: #f6ebd1;
  stroke: #c64c53;
  stroke-width: 0.2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.st0:hover {
  fill: #b4d5a8;
  stroke: #c64c53;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding: 20px;
  text-align: right;
  border-radius: 15px;
}

.active-gov {
  fill: #b4d5a8;
  stroke: #c64c53;
  stroke-width: 0.6;
}
.inactive-gov {
  fill: #f6ebd1;
  stroke: #c64c53;
  stroke-width: 0.2;
}
.inactive-gov:hover{
  fill: #b4d5a8;
  stroke: #c64c53;
}

/*------------------------------------------------------------------------------*/

@media screen and (min-width: 720px) {
  .container {
    min-height: 85dvh;
    min-width: 50dvw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flag-card {
    width: 400px;
    height: 240px;
  }

  .map-container {
    min-height: 50dvh;
    min-width: 50dvw;
  }
}

@media screen and (max-width: 720px) {
  .hero {
    flex-direction: column;
  }
  .container {
    height: 400px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .map-container {
    min-height: 40dvh;
    min-width: 100dvw;
  }
  .card {
    width: 80%;
  }
  .flag-card {
    width: 300px;
    height: 180px;
  }
}
